*{
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  height: 100vh;
}
a{
  color: rgb(0, 51, 102);
}
a:visited {
  color:rgb(0, 51, 102);
}
a:hover {
  color: #92CCFF;
}

.container{
  width: 100%;
  height: 100%;
  /*smooths */
  overflow-y: scroll;
  scroll-behavior: smooth;
  /*change later*/

}
.navbar{
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  right: 0;
  width: 100%;
  height: 60px;
  background: rgba(255, 255,255,.5);
}


.navbar ul{
  display: flex;
  list-style: none;
  width: 100%;
  justify-content:flex-end;
  text-align: center;
}

.navbar ul li{
  margin: 0 1rem;
  padding: 1rem;
}
.navbar ul li a{
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.navbar ul li a:hover{
  color: rgb(52, 50, 156);
}
section{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  scroll-snap-align: center;

}
#projects{
    justify-content:flex-start;
    height: 250vh;
    scroll-snap-align: start;
}
#tag{
  text-align: center;
}
#home{
  background: url("../images/MacBook.png");
  background-size: 100%;
  background-position:right center;
  background-repeat: no-repeat;
}

 #home p{
   display: flex;
   writing-mode: vertical-rl;
   text-orientation: mixed;
   align-items: flex-end;
   align-self: center;
   margin-top: 150px;
   color: rgb(0, 51, 102);
}
/*
#about{
  background: url("../images/city2.png");
  background-position: top;
  background-repeat: no-repeat;
}
*/
#contact{
  justify-content: flex-start;
}
#contact h1{
  text-align: center;
  padding-right: 10%;
}
section .name{
  font-size: 100px;
  color: rgb(0, 51, 102);
  padding-left: 20%;
  letter-spacing: 7px;
}
section .texts h1{
  justify-content: center;
  align-self: center;
}
 h1{
  font-size: 75px;
  color: rgb(0, 51, 102);

}
section h2{
  padding-top: 50px;
  padding-left: 20%;
}

section p{
  padding: 20px;
  width: 90%;
  font-size: 20px;
}
#airplane{
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
  padding-bottom: 70px;
}
#circle{
  width: 300px;
  height: 300px;
  object-fit: cover;
  z-index: 2;
  position: relative;
  top: 0;
}
.graphic{
  width: 30%
}
#title{
  padding-left: 20%;
}
.gord{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 20px 15px rgb(0, 51, 102);
}
section .me{
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: center;
  width: 40%;
  padding-right: 30px;
}
section .blurb{
  display: flex;
  flex-direction: row;
  width: 100%;
}
section .texts{
  width: 50%;
}
section .texts p{
  padding-left: 20%;
  font-size: 20px;
}
.skills{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.skills ul{
  font-size: 20px;
}
.basic{
  padding-left: 40px;
  justify-content: center;
  align-self: center;
}
.basic ul{
  list-style: none;
  font-size: 20px;
}
.facts{
  padding: 40px;
}
.facts h3{
  font-size: 25px;
  font-weight: bolder;
  color: rgb(0, 51, 102);
}
.basic strong{
  font-weight: bolder;
  color: rgb(0, 51, 102);
}
#resumepic{
  margin-top: 20px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 55%;
  margin-left: auto;
  margin-right: auto;

}
.home{
  display: flex;
  flex-direction: row;
}
.beginning{
  width: 60%;
}
.title{
  padding-top: 50px;
  padding-left: 10%;
}
#blurb{
  padding-left: 10%;
  width: 40%;
}
#banner{
  width: 100%;
  object-fit: cover;

}
.fish{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.one{
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
  padding-right: 50px;
  width: 50%
}
.two{
  display: flex;
  justify-content: flex-start;
  padding-top: 150px;
  padding-left: 50px;

}
.iphone{
  height: 600px;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 20px 15px rgb(0, 51, 102);
}
.square{
  border-radius: 50px;
  display: flex;
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.pics{
  padding-left: 20px;
  width: 40%;
}
.sect{
  display: flex;
  flex-direction: row;
  padding-top: 100px;
}
.row{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.mini{
  height:50px;
  width: 50px;
  object-fit: cover;
  margin-top: 50px;
  border-radius: 25px;
  margin-right: 20px;
}

#nb{
  filter: brightness(90%);
}
.description{
  width: 45%;
}
.description h2{
  padding: 0;
  padding-left: 30px;
  color: rgb(0, 51, 102);
}
.icons{
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  align-self: center;
  text-align: center;
}
.larger{
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  object-fit: cover;
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;

}
.end{
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 80%;
  padding-top: 70px;
}
#reach{
  padding-left: 100px;
  justify-content: center;
  padding-top: 10%
}
.object {
  -webkit-animation: action 1s infinite  alternate;
  animation: action 1s infinite  alternate;
}
@-webkit-keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

a img {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

a img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.ro{
  display: flex;
  flex-direction: column;
  width: 50px;
}

.rotatingText-adjective {
  font-size: 50px;
  font-style: normal;
  left: 0;
  margin-bottom: 0;
  margin-top: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
@keyframes rotate {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  20%, 80% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }
}
.rotatingText-adjective:nth-of-type(1) {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-delay: .5s;
}

.rotatingText-adjective:nth-of-type(2) {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-delay: 1.75s;
}

.rotatingText-adjective:nth-of-type(3) {
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-delay: 3s;
}
@keyframes rotate-last {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  50%, 100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@media (min-width: 600px) and (max-width:1000px){
  .container{
    scroll-snap-type: none;
  }
  section{
    height: 150vh;
  }
  section .name{
    font-size: 50px;
  }
  .beginning{
    padding-bottom: 20px;
  }
  section h1{
    font-size: 50px;
  }
  .skills ul{
    font-size: 19px;
  }
  .basic ul{
    font-size: 19px;
  }
  .facts h3{
    font-size: 20px;
  }
  .description{
    width: 100%;
  }
  section .blurb{
    flex-direction: column;
  }
  .sect{
    flex-direction: column;
  }
  #home{
    height: 75vh;
  }
  .graphic{
    padding-top: 30px;
  }

  #projects{
    height: 270vh;
  }
  .pics{
    width: 100%;
    padding-bottom: 40px;
    text-align: center;
  }
  .mini{
    height:50px;
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  section .texts{
    width: 80%;
  }
  .end{
    flex-direction: column;
  }
  .gord{
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .larger{
    width: 50px;
    height: 50px;
  }
  #blurb{
    width: 80%;
  }
  #reach{
    padding-top: 50px;
    padding-left: 0;
    text-align: center;
  }
  section .me{
    display: flex;
    flex-direction: column-reverse;
    align-items:center;
    justify-content: center;
    width: 100%;
    padding-right: 0px;
    padding-top: 50px;
  }
}
@media (max-width: 600px){
  body{
    width: 100%;
  }
  .container{
    scroll-snap-type: none;
  }
  section{
    height: 200vh;
  }
  section .name{
    font-size: 50px;
  }
  .beginning{
    padding-bottom: 20px;
  }
  section h1{
    font-size: 50px;
  }
  .skills{
    padding-left: 0;
  }
  .facts{
    padding-right: 0;
    padding-left: 0;
    width: 50%;
  }
  .skills ul{
    padding-left: 40px;
    font-size: 19px;
  }
  .basic ul{
    font-size: 19px;
  }
  .facts h3{
    font-size: 20px;
    text-align: center;
  }
  .description{
    width: 100%;
  }
  section .blurb{
    flex-direction: column;
  }
  .sect{
    flex-direction: column;
  }
  #home{
    height: 75vh;
  }
  .graphic{
    padding-top: 70px;
  }

  #projects{
    height: 270vh;
  }
  #contact{
    height: 100vh;
  }
  #about{
    height: 150vh;
  }
  .pics{
    padding-left: 0;
    width: 100%;
    padding-bottom: 40px;
    text-align: center;
  }
  .mini{
    height:50px;
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
  }
  section .texts{
    padding-left: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  section .texts p{
    padding-left: 0;
  }
  section p{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .end{
    flex-direction: column;
  }
  .gord{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .icons{
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .larger{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #blurb{
    width: 80%;
  }
  #reach{
    padding-top: 50px;
    padding-left: 0;
    text-align: center;
  }
  section .me{
    display: flex;
    flex-direction: column-reverse;
    align-items:center;
    justify-content: center;
    width: 100%;
    padding-right: 0px;
    padding-top: 50px;
  }
  .description{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
